{%- doc -%}
  A single custom payment icon for the payment-icons block.

  @param {object} block - The payment icon block
{%- enddoc -%}

{%- liquid
  assign block_settings = block.settings
  assign icon_image = block_settings.icon
  assign icon_name = block_settings.name | strip
-%}

{%- if icon_image != blank or request.design_mode -%}
  <li
    class="payment-icons__item"
    {{ block.shopify_attributes }}
  >
    {%- if icon_image != blank -%}
      {{
        icon_image
        | image_url: width: 120
        | image_tag:
          class: 'icon icon--full-color',
          loading: 'lazy',
          widths: '40, 60, 80, 120',
          sizes: '38px',
          alt: icon_name
      }}
    {%- endif -%}
    {%- if icon_name != blank -%}
      <span class="visually-hidden">{{ icon_name }}</span>
    {%- endif -%}
  </li>
{%- endif -%}

{% schema %}
{
  "name": "t:names.payment_icon",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "t:settings.icon"
    },
    {
      "type": "text",
      "id": "name",
      "label": "t:settings.title",
      "default": "Payment method"
    }
  ]
}
{% endschema %}
